<div class="row bg-primary header">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="form-group pull-right">
      <select class="custom-select">
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row main-content">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p>Total Users: {{user_count}}</p>
    <div *ngFor="let item of user_list" class="col-md-12">
      <div class="row">
        <div class="col-md-2 text-center">
          <img src="{{item.avatar_url}}" class="user-image img-responsive" alt="...">
        </div>
        <div class="col-md-8">
          <h4 class="text-capitalize">{{item.login}}</h4>
          <p>Profile URL:
            <a href="{{html_url}}" target="_blank">{{item.html_url}}</a>
          </p>
          <p>
            <small>Data One</small>
          </p>
          <p>
            <small>Data One</small>
          </p>
        </div>
        <div class="col-md-2">
          <a class="btn btn-primary" data-toggle="collapse" href="#{{item.login}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            Show More
          </a>
        </div>
      </div>
      <div class="col-md-12">
        
        <div class="collapse" id="{{item.login}}">
          <h5>Repository History</h5>
          <div class="card card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Information</th>
                </tr>
              </thead>
              <tr *ngFor="let repo of user_repos">
                <td>{{repo.name}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>